extends ../layout.jade
block contenido
    div(class="col-md-5 center-block no-float top-space text-left")
        h1 Agregar Producto
        form(method="post" action="/admin/editar/#{producto.id}" style="margin-top:1.5em;")
            div(class="form-group")
                label Nombre
                input(type="text" name="titulo" placeholder="Nombre del producto" value="#{producto.titulo}" class="form-control")
            div(class="form-group")
                label Descripción
                textarea(name="descripcion" placeholder="Descripción del producto" class="form-control")= producto.descripcion
            div(class="form-group")
                label Costo
                input(type="number" name="precio" placeholder="Costo" value="#{producto.precio}" class="form-control")
            div(class="form-group text-right")
                input(type="submit" class="btn btn-info" value="Editar")
