extends ../layout
block Contenido 
  body
    .page.login-page
      .container.d-flex.align-items-center
        .form-holder.has-shadow
          .row
            // Logo & Information Panel
            .col-lg-6
              .info.d-flex.align-items-center
                .content
                  .logo
                    h1 Pataconera Chocoana
                  p Pataconera Chocoana, un estilo de comida !
            // Form Panel
            .col-lg-6.bg-white
              .form.d-flex.align-items-center
                .content
                  form#login-form(method='post')
                    .form-group
                      input#login-username.input-material(type='text', name='loginUsername', required='')
                      label.label-material(for='login-username') Usuario
                    .form-group
                      input#login-password.input-material(type='password', name='loginPassword', required='')
                      label.label-material(for='login-password') Contraseña
                    a#login.btn.btn-primary(href='index.html') Entrar
                    // This should be submit button but I replaced it with <a> for demo purposes
                  a.forgot-pass(href='#') Olvidaste la contraseña ?
                  br
                  small No tienes una cuenta ? 
                  a.signup(href='/registro') Registrar
      .copyrights.text-center
        p
          | Diseño de 
          a.external(href='https://github.com/whary11') Luis Fernando Raga Renteria
        // Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)
    // Javascript files
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.cookie.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/front.js')