extends ../layout
block Contenido
  body
    .page.login-page
      .container.d-flex.align-items-center
        .form-holder.has-shadow
          .row
            // Logo & Information Panel
            .col-lg-6
              .info.d-flex.align-items-center
                .content
                  .logo
                    h1 Pataconera Chocoana
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            // Form Panel
            .col-lg-6.bg-white
              .form.d-flex.align-items-center
                .content
                  form#register-form
                    .form-group
                      input#register-username.input-material(type='text', name='registerUsername', required='')
                      label.label-material(for='register-username') Usuario
                    .form-group
                      input#register-email.input-material(type='email', name='registerEmail', required='')
                      label.label-material(for='register-email') Correo      
                    .form-group
                      input#register-passowrd.input-material(type='password', name='registerPassword', required='')
                      label.label-material(for='register-passowrd') Contraseña        
                    .form-group.terms-conditions
                      input#license.checkbox-template(type='checkbox')
                      label(for='license') Acepta los términos y la política
                    input#register.btn.btn-primary(type='submit', value='Registrarse')
                  small Ya tienes cuenta ? 
                  a.signup(href='/login') Iniciar
      .copyrights.text-center
        p
          | Design by 
          a.external(href='https://github.com/whary11') Luis Fernando Raga Renteria
        // Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)
    // Javascript files
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.cookie.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/front.js')
