doctype html
html(lang="es")
	head
		block titulo
		title Pataconera Chocoana
		meta(charset="utf-8")
		link(rel="shortcut icon", href="imgs/pataconera.png", type="image/png")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
		link(href="/css/main.css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		link(href='/css/animate.css' rel='stylesheet' type='text/css')
	body
		nav(class="large-padding fondo-gris")
			ul(class="no-list mediano")
				li(class="pacifico col-md-3 inline-block")
					a(href="/" class="green") Pataconera Chocoana #[small(class="lato small") Vive, convive y diviértete]

				li(class="col-md-3 inline-block")
					a(href="/menu") Menú

				li(class="col-md-3 inline-block")
					a(href="contacto.html") Contacto
				li(class="col-md-3 inline-block")
					a(href="/admin") Administrador
		block contenido