extends ../layout.jade
block titulo
    title Admin de Productos 
block contenido
    div(class="container")
        table(class="table")
            thead(class="thead-light")
                tr
                    th(scope="col") Nombre
                    th(scope="col") Descripción
                    th(scope="col") Precio
                    th(scope="col") Editar
                    th(scope="col") Eliminar
                tbody
                each producto in productos
                    tr
                        td(scope="row")= producto.titulo
                        td(scope="row")= producto.descripcion
                        td(scope="row")= producto.precio
                        td
                            a(href="/admin/editar/#{producto.id}" target="_blanck") Editar
                        td
                            a(href="#" target="_blanck") Eliminar
