doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block Titulo
    title Pataconera Chocoana by Bootstrapious.com
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='robots', content='all,follow')
    // Bootstrap CSS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Fontastic Custom icon font
    link(rel='stylesheet', href='css/fontastic.css')
    // Font Awesome CSS
    link(rel='stylesheet', href='css/font-awesome.min.css')
    // Google fonts - Poppins
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:300,400,700')
    // theme stylesheet
    link#theme-stylesheet(rel='stylesheet', href='css/style.default.css')
    // Custom stylesheet - for your changes
    link(rel='stylesheet', href='css/custom.css')
    // Favicon
    link( rel="shortcut icon" href="img/pataconera.png")
    block Contenido
      
    