<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Pacifico", type='text/css')
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400", type='text/css')
        link(rel="stylesheet", href="css/animate.css", type='text/css')
        title App de comidas con NodeJS
    body
        section(class="full-height text-center", id="main-content")
            div(class="data")
                div(class="col-md-3 center-block no-float top-space")
                    img(src="imgs/icecream.png", alt="Hambuerguesa de presentación", class="animated fadeIn")
                    h1(class="pacifico big green animated fadeIn delay-1") Comidas Chocoanas
                    div(class="animated fadeInDown delay-2")
                        h2 Ven, convive y diviertete....
                        nav
                            a(href="/menu", class="right-space") Menú
                            a(href="menu.html", class="right-space") Contacto
                            a(href="menu.html", class="right-space") Acerca de
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="js/main.js")